*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}
.container{
    background-color:hsl(30, 38%, 92%) ;
}
.main{
    border: none;
    border-radius: 5%;
    background-color: white;
}

#p{
    
    color: hsl(212, 21%, 14%);
}
#one{
    margin-block-start: 2rem;
    margin-block-end: 1rem;
    font-weight: 50;
    font-family: 'Montserrat', sans-serif;
    color:  hsl(228, 12%, 48%);
}
#two{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
}
#three{
    margin-bottom: 1rem;
    font-size: .90em;
    color: hsl(212, 21%, 14%);
    line-height: 2rem;
}
#four{
    margin-bottom: 2rem;
}
#current{
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    padding-right: 1rem;
    color: hsl(158, 36%, 37%);
}
#past{
    font-size: .90rem;
}
#button{
    width: 90%;
    height: 3rem;
    background-color: hsl(158, 36%, 37%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 20px 20px 20px 20px;
    color: hsl(0, 0%, 100%);
    transition: all .5s ease-in-out;
}
#button:hover{
    cursor: pointer;
    background-color: brown;
}
#button:active{
    box-shadow: 10px 10px 100px 20px yellow ;
    background-color: transparent;
    color: black;
    border-bottom: 3px solid black;
}
.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 35%;
 }
.attribution a {
    color: hsl(228, 45%, 44%); }


    @media only screen and (min-width: 600.1px)  {
        .container{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .main{
            display: flex;
            flex-direction: row;
            width: 600px;
            height: 500px;
        }
        #img_one{
            position: relative;
            width: 50%;
            height: 100%;
            border-radius: 5% 0 0 5%;
        }
        #img_two{
            display: none;
        }
        #p{
            height: 100%;
            padding-left: 2rem;
        }
        #button{
            width: 90%;
            height: 3rem;
        }
        #four{
            display: grid;
            grid: 80px/150px auto;
            align-items: center;
        }
} 
@media only screen and (max-width: 600px) {
    body{
        display: block;
    }
    .container{
        position: relative;
        margin: 0;
        height: 100%;
    }
    .main{
        border: solid;
        position: relative;
        margin-inline: 5%;
        top: 2rem;
        height: 100%;
        padding: auto;
        display: block;
    }
    #img_one{
        display: none;
    }
    #img_two{
       position: relative;
       top: 0;
       width: 100%;
       height: 300px;
       border-radius: 5% 5% 5% 5%;
    }
    #p{
        margin: 0 0 0 1px;
        width: 100%;
    }
    #button{
        margin: 1rem auto !important;
        max-width: 300px;

    }
    #four{
        display: grid;
        grid: 50px/180px auto;
        align-items: center;
    }
    .attribution{
        text-align: center;
       position: absolute;
       top: 100%;
    }
}